
<style>
	h1
	{
		text-align:center;
		color:red;
	}
	a
	{
		width:200px;
		float:left;
		background:#CCC;
		padding:5px;
	}
	.clearfix
	{
		clear:both;
	}
</style>
<header>
	<h1>{{pageTitle}}</h1>
	<p><a href="/">Home</a></p>
	<p><a href="/about">About</a></p>
	<div class="clearfix"></div>
</header>